<div id="all-post-container">
  <% @posts.each_with_index do |post, index| %>
    <% if post.url %>
    <div class="post-container">
      <p><%= index+1 %>. <%=link_to(post.title,post.url)%> </p>
      <span> Created <%= post.post_time %> <%= link_to "comments", post %>  By <%=post.owner.username %>
        <% if session[:user_id] == post.owner_id %>
          <form method="get" action='/posts/<%="#{post.id}"%>/edit'>
            <input type="submit" value="Edit Post!" class="button">
          </form>
          <%= link_to "Delete my post", post, method: :delete, data: {confirm: "Are you sure you want to delete that?"} %>
        <% end %>
          </span>
    </div>
    <% else %>
    <div class="post-container">
      <p><%= index+1 %>.   <%=link_to(post.title,post)%></a></p>
      <span> Created <%= post.post_time %>  <%= link_to "comments", post %>  By <%=post.owner.username %>
        <% if session[:user_id] == post.owner_id %>
          <form method="get" action='/posts/<%="#{post.id}"%>/edit'>
            <input type="submit" value="Edit!" class="button">
          </form>
          <form method = "post" action='/posts/<%="#{post.id}"%>'>
            <input type="hidden" name="_method" value ="delete">
            <input type="submit" value="Delete post" class="button">
          </form>
        <% end %>
          </span>
      </span>
    </div>
    <% end %>
  <% end %>
</div>

<% if logged_in? %>
  <%= link_to "Create New Post!", new_post_path %>
<% end %>
