<div id="all-comments-container">
  <% if @errors %>
    <%=@errors %>
  <%end%>
  <h2><%=link_to(@post.title,@post.url)%>(<%=@post.url%>)</h2>
  <% if logged_in? %>
  <div id="new-comment-form">
    <h2> Create a comment</h2>
      <form method = "post" action="/comments">
        <input type="hidden" name="post_id" value="<%=@post.id%>">
        <label>Body:</label>
        <textarea rows="4" cols="50"type="text" name="body"></textarea><br>
        <input type="submit" value="Comment!" class="button">
      </form>
  </div>
  <% end %>
  <% @comments.each_with_index do |comment, index| %>

    <div class="comment-container">
      <p><%= index+1 %>. <%= comment.body%></p>
      <p> Posted <%= comment.post_time %> </p>
    </div>

  <% end %>
</div>
